*{
  margin: 0;
  padding: 0;
}
.App{
  
  background: url("./image.jpg") no-repeat center center;
  background-size: cover;
  width: cal(100% - 2rem);
  height: 100vh;
  color: #f8f8f8;

  
  
}

.searchLocation{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 1rem 0;
}
.description p{
  transform: rotate(90deg);
  position: relative;
  top: 40px;
  right: 0;
  text-align: center;
 
}

p{
  font-size: 1.5rem;
}

h1{
  font-size: 5.5rem;
  
}
.div{
  width: 300px;
  background-color: rgba(255,255,255,0.15);
  border-radius: 10px;
  
  
}
input{
  width: 90%;
  height: 90%;
  margin: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f8f8f8;
}
::placeholder{
  color: #f8f8f8;
}

.container{
  background-color: rgba(0,0,0,0.4);
  max-width: 100%;
  height: calc(100% - 6.2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  
  
}
.top{
  display: flex;
  justify-content: space-between;
}
.bottomKaBaap{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.bottom{
  
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.15);
  
}
.info{
 
 
  margin: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  p{
    font-size: 1rem;
  }
  h1{
    font-size: 5rem;
  }
}
